<div class="person-list-title">
    <h1>
      {{ title }}
    </h1>
  </div>

    <h2>Implementar</h2>
    <ul>
    <li>Un api rest (GET, POST) de personas(id,nombre, apellido,edad)</li>
    <li>Usando un framework de aplicaciones autocontenidas (Spring boot, play, vertx)</li>
    <li>Usando arquitectura hexagonal</li>
    <li>Con principios de diseño Solid</li>
    <li>Pruebas unitaras</li>
    <li>Pruebas de integracion</li>
    <li>Pruebas de carga (50 usuarios concurrentes las peticiones)</li>
    <li>Pruebas de seguridad</li>
    <li>Pruebas funcionales</li>
    <li>Visual vm con volcado de hilos y memoria</li>
    <li>Con opciones de jvm para produccion</li>
    <li>Y un front sencillo en angular 7, usando observables, interceptors, error handlers, cache</li>
    <li>Las personas mayores a 18 años deberán ser publicadas en un exchange
    de rabbit mq y las menores en otro, deberá tener un consumir de ambas colas que escriba los mensajes en disco</li>	</ul>
